<!DOCTYPE html>
<html>

<head>

    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>Preguntas Confiables</title>
    </head>
    <title> Crear Respuesta</title>
</head>

<body>
    {% include '../navgar.html' %}
    <br>
    <br>
    <br>
    <div class="container">
        <h1>Crear Respuesta</h1>

        {% if user.is_authenticated %}
        <div class="card">
            <div class="card-body">
                {% if question %}
                <div class="card">
                    <h2 class="card-title">{{question.titulo}}</h2>
                </div>
                <br>
                    {% if usuario %}
                    <div class="card">
                        <p>Usuario : <em>{{usuario.username}}</em></p>
                        <form method="POST">{% csrf_token %}
                            {{form.as_p}}

                            <input class="form-control btn btn-danger" type="submit" value="Guardar">
                        </form>
                        <div>
                            {{form.errors}}
                        </div>
                        {% else %}
                        <p>No existe usuario</p>
                        {% endif %}
                        {% else %}
                        <h2>No llego preguntaOBJ</h2>
                        {% endif %}
                </div>
            </div>
        </div>
        {% else %}
            <br><br>
            <h1 class="card-title">USTED NO ESTA LOGEADO PARA CREAR UNA RESPUESTA POR FAVOR INICIE SESION</h2>
        {% endif %}
    </div>
    <br><br>
    <div class="fixed-bottom bg-danger">
      <br>
      <footer class="container">
        <p class="float-end"><a style="color:#fcfcfc;" href="#">Volver arriba</a></p>
        <p style="color:#fcfcfc;">&copy; 2021 Company, Inc.</p>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>

</html>