<!DOCTYPE html>
<html>
    <head>
        <title>Preguntas Confiables</title>
    </head>
    <body>
        <h2>Preguntas Confiables</h2>
        <p> Preguntas confiables dado el atributo confiable de la pregunta </p>
        {% if confiables %}
            <section>
                <h3>Actualmente: </h3>
                <p>Hay {{ confiables|length }} preguntas en este momento</p>
            </section>
            <div>
                {% for pregconf in confiables %}
                    <section class="pregconfia">
                        <h2> {{pregconf.titulo}} </h2>
                        <p>{{pregconf.descripcion}}</p>
                        <section class="respuestas">
                            <h3>RESPUESTAS: </h3>
                            {% if pregconf.respuesta_set.all %}
                                {% for rpta in pregconf.respuesta_set.all %}
                                    <p class="descripcionRpta">
                                        {{rpta.descripcion}}
                                    </p>
                                    <ul>
                                        <li>Likes: {{rpta.likes}}</li>
                                        <li>Dislikes: {{rpta.dislikes}}</li>
                                    </ul>
                                {% endfor %}
                            {% else %}
                                <p>No tenemos respuetas aun :( </p>
                            {% endif %}   
                        </section>
                    </section>
                {% endfor %}
            </div>
        {% else %}

        <p>Lo sentimos no hay preguntas confiables todavia</p>
        <!-- insertar aqui algo para la url de la pagina home
            que felman esta haciendo
            <button ></button>
        -->
        {% endif %}
    </body> 
</html>
