<!DOCTYPE html>
<html>
    <head>
        <title>Preguntas Confiables</title>
    </head>
    <body>
        <h2>Preguntas Confiables</h2>
        <p> Preguntas confiables dado el atributo confiable de la pregunta </p>
        {% if confiables %}
            <section>
                <h3>Actualmente: </h3>
                <p>Hay {{ confiables|length }} preguntas en este momento</p>
            </section>
            <div>
                {% for pregconf in confiables %}
                    <section class="pregconfia">
                        <h2> <a src="{% url 'main:singleQuestion' pregconf.id %}" >{{pregconf.titulo}}</a> </h2>
                        <p>{{pregconf.descripcion}}</p>
                        
                    </section>
                {% endfor %}
            </div>
        {% else %}

        <p>Lo sentimos no hay preguntas confiables todavia</p>
        <!-- insertar aqui algo para la url de la pagina home
            que felman esta haciendo
            <button ></button>
        -->
        {% endif %}
    </body> 
</html>
