<!DOCTYPE html>
<html>
    <head>
        <title>Preguntas Confiables</title>
    </head>
    <body>
        {% include '../navgar.html' %}
        <br>
        <br>
        <br>
        <h1>Preguntas Confiables</h1>
        <p> Preguntas confiables dado el atributo confiable de la pregunta </p>
        {% if confiables %}
            <section>
                <h3>Actualmente: </h3>
                <p>Hay {{ confiables|length }} preguntas en este momento</p>
            </section>
            <div>
                {% for pregconf in confiables %}
                    <section class="pregunta">
                        <h2> <a href="{% url 'main:singleQuestion' pregconf.id %}" >{{pregconf.titulo}}</a></h2> 
                        <p>{{pregconf.descripcion}}</p>                        
                        <p>Usuario: <em>{{pregconf.usuario.username}}</em></p>
                    </section>
                {% endfor %}
            </div>
        {% else %}

            <p><b>Lo sentimos no hay preguntas confiables todavia</b></p>
            
            <!-- insertar aqui algo para la url de la pagina home
                que felman esta haciendo
                <button ></button>
            -->
        {% endif %}
        <br><br>
    <div class="fixed-bottom bg-danger">
      <br>
      <footer class="container">
        <p class="float-end"><a style="color:#fcfcfc;" href="#">Volver arriba</a></p>
        <p style="color:#fcfcfc;">&copy; 2021 Company, Inc.</p>
      </footer>
    </div>
    </body> 
</html>
