{% extends 'basePreguntas.html' %}
{% block title %}
    Detalle de Preguntas
{% endblock %}
{% block body %}
<h1> Detalle de Preguntas </h1>
<h2> {{ object.titulo }} </h2>
<ul class="list-group">
    <li class="list-group-item"><p> <b>Usuario:</b> {{ object.usuario }} </p></li>
    <li class="list-group-item"><p> <b>Descripcion:</b> {{ object.descripcion }} </p></li>
    <li class="list-group-item"><p> <b>Categoria:</b> {{ object.categoria.nombre }} </p></li>
    <li class="list-group-item"><p> <b>Confiable:</b> {{ object.confiable }} </p></li>
    <li class="list-group-item"><p> <b>Palabras clave:</b> {{ object.keywords }} </p></li>
</ul>
{% endblock %}