{% extends 'basePreguntas.html' %}
{% load static %}

{% block title %}
    Grafico de Pregunta
{% endblock %}

{% block head %}
    <script src="{% static 'lib/Highcharts-7.0.3/code/highcharts.js' %}"></script>
    <script src="{% static 'lib/Highcharts-7.0.3/code/modules/exporting.js' %}"></script>
    <script src="{% static 'lib/Highcharts-7.0.3/code/modules/export-data.js' %}"></script>
    <script src="{% static 'lib/Highcharts-7.0.3/code/modules/accessibility.js' %}"></script>

    <!--<link rel="stylesheet" type="text/css" href="{% static 'highcharts-figure.css' %}">-->
{% endblock %}

{% block body %}
    <h2> {{ titulo }} </h2>

    <figure class="highcharts-figure">
        <div id="container"></div>
    </figure>

    <script type="application/javascript">
        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Reporte de Respuestas'
            },
            subtitle: {
                text: 'Reporte de columnas'
            },
            xAxis: {
                categories: {{ respuestasDes|safe }},
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'N° Likes y N° Dislikes'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Likes',
                //showInLegend: false,
                //colorByPoint: true,
                data: {{ likes|safe }}
            }, {
                name: 'Dislikes',
                data: {{ dislikes|safe }}
            }]
        });

    </script>
    
{% endblock %}