<!DOCTYPE html>
<html>
    <head>
        <title>Preguntas Confiables</title>
    </head>
    <body>
        {% if question %}
            <section class="pregconfia">
                <h2> {{question.titulo}} </h2>
                <p>{{question.descripcion}}</p>
            </section>
            {% if question.respuesta_set.all %}

                {% for rpta in question.respuesta_set.all %}
                    <section class="descripcionSection">
                        <h2>Descripcion: </h2>
                        <p class="bodyDescripcion">
                            {{rpta.descripcion|safe}}
                            <!-- holamfdaada <img alt="dadsa" src="dafaURL.jpg"> -->
                        </p>
                        
                        <ul>
                            <form method="GET" id="form{{rpta.id}}">
                                <li><input type="hidden" id="rpta{{rpta.id}}" value="{{rpta.id}}"></li><!--No borren esto, sino no funciona-->
                                <li>&#128077;: <button type="submit" id="l{{rpta.id}}" class="like">{{rpta.likes}}</button></li>
                                <li>&#128078;:<button type="submit" id="d{{rpta.id}}" class="dislike">{{rpta.dislikes}}</button></li>    
                            </form>
                            <li>&#128078;:<button id="u{{rpta.id}}" class="dislike">{{rpta.dislikes}}</button></li>
                        </ul>                                     
                    </section>
                {% endfor %}
                
            {% else %}
                <p><b>No hay respuesta para esta pregunt aun.</b></p>
                <!-- <button id="addReply"> Crear Respuesta!</button>
                 -->
            {% endif %}
            <button id="addReply"> Crear Respuesta!</button>
                
        {% else %}
            <p> <b> No existe esta pregunta, puedes intentar buscando otra</b>  </p>
        {% endif %}
    </body> 
    <script >
        function main(){
            forms_items_like = document.getElementsByClassName("like");
            forms_items_dislike = document.getElementsByClassName("dislike");
            for(let item of forms_items_like){
                item.addEventListener("click",sendData);
            }
            for(let item of forms_items_dislike){
                item.addEventListener("click",sendData);
            }

        }
        main();
        // console.log("Helloqorld");
        const URL_WEB = "http://127.0.0.1:8000/"
        function sendData(){
            //console.log("AAAAAAAAAAAAAAAAAAAAAAAAAAAA","{{rpta.id}}");
            // console.log(this.textContent);
            let rawId = this.id;
            // console.log("ID: ",this.id);
            let sendStrData = URL_WEB;
            if(rawId.slice(0,1) == "l" ){
                sendStrData += "askSystem/pregunta/{{question.id}}/?type=like";
            }else if(rawId.slice(0,1) == "d" || rawId.slice(0,1)=="u"){
                sendStrData += "askSystem/pregunta/{{question.id}}/?type=dislike";
            }
            let idrpta = rawId.slice(1,rawId.length)
            let val = idrpta;
            sendStrData+="&rptaId="+val;
            window.location.href = sendStrData;
        }
        
        // document.getElementById("addReply").onclick = function () {
        //     //es por ID,pero quiero que sea por nombre, asi que, se debe hacer el Login Alex Chaco, haces el login si ves esto
        //     location.href = "{% url 'main:createReply' username=1 question_id=question.id %}";
        // };
         
        // main();
        //http://127.0.0.1:8000/askSystem/1/?type=dislike&cantidad=1&rptaId=1

    </script>
</html>
