<!DOCTYPE html>
<html>
    <head>
        <title>Preguntas Confiables</title>
    </head>
    <body>
        {% if question %}
            <section class="pregconfia">
                <h2> {{question.titulo}} </h2>
                <p>{{question.descripcion}}</p>
            </section>
            {% if question.respuesta_set.all %}

                {% for rpta in question.respuesta_set.all %}
                    <section class="descripcionSection">
                        <h2>Descripcion: </h2>
                        <p class="bodyDescripcion">
                            {{rpta.descripcion}}
                        </p>
                        
                        <ul>
                            <form method="GET">
                                <li><input type="hidden" id="idRpta" value="{{rpta.id}}"></li><!--No borren esto, sino no funciona-->
                                <li>&#128077;: <button type="submit" id="like">{{rpta.likes}}</button></li>
                                <li>&#128078;:<button type="submit" id="dislike">{{rpta.dislikes}}</button></li>    
                            </form>
                            <!-- <li>&#128078;:<button id="utils">{{rpta.dislikes}}</button></li> -->
                        </ul>                                     
                    </section>
                {% endfor %}
                
            {% else %}
                <p><b>No hay respuesta para esta pregunt aun.</b></p>
                <!-- <button id="addReply"> Crear Respuesta!</button>
                 -->
            {% endif %}
            <button id="addReply"> Crear Respuesta!</button>
                
        {% else %}
            <p> <b> No existe esta pregunta, puedes intentar buscando otra</b>  </p>
        {% endif %}
    </body> 
    <script >
        console.log("Helloqorld");
        const URL_WEB = "http://127.0.0.1:8000/"

        var likeButton = document.getElementById("like");
        var dislikeButton = document.getElementById("dislike");
 
        //var utils = document.getElementById("utils");
        
        function main(){
            if(likeButton == null || dislikeButton == null){
                console.error("Error de like or dislike button");
                return;
            }

            likeButton.addEventListener("click",sendData);
            dislikeButton.addEventListener("click",sendData);
        }
        //utils.addEventListener("click",sendData);
        function sendData(){
            // console.log(this.textContent);
            let numero = this.textContent;
            console.log("ID: ",this.id);
            let sendStrData = URL_WEB;
            if(this.id == "like" ){
                sendStrData += "askSystem/{{question.id}}/?type=like"+"&cantidad="+this.textContent;
            }else if(this.id == "dislike" || this.id=="utils"){
                sendStrData += "askSystem/{{question.id}}/?type=dislike"+"&cantidad="+this.textContent;
            }
            let idRpta = document.getElementById("idRpta");
            if(idRpta == null){
                console.log("Error en idRpta");
                return;
            }
            let val = idRpta.value;
            sendStrData+="&rptaId="+val;
            console.log(sendStrData);
            window.location.href = sendStrData;
        }
        main();
        document.getElementById("addReply").onclick = function () {
            //es por ID,pero quiero que sea por nombre, asi que, se debe hacer el Login Alex Chaco, haces el login si ves esto
            location.href = "{% url 'main:createReply' username=1 question_id=question.id %}";
        };
//http://127.0.0.1:8000/askSystem/1/?type=dislike&cantidad=1&rptaId=1

    </script>
</html>
