{% load static %}
<!doctype html>
<html lang="es">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>
    Sistema de Tutoriales
  </title>
</head>

<body>
  <br><br>

  {% include 'navgar.html' %}
  
 
<a name="resentQuestions"></a>

<div class="container marketing">
  <hr class="featurette-divider">

    {% if lista %}
      <!-- Le puse el buscador provisional aca, esto debería estar en el nav -->
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/carrusel-1.jpg" class="d-block w-100" alt="..." width="50xp" height="300xp">
            <div class="carousel-caption d-none d-md-block">
              <h1>Actualmente: </h2>
              <h2>Hay {{ lista|length }} preguntas en este momento</h2>
            </div>
          </div>
          {% for pregconf in lista %}
          <div class="carousel-item">
            <img src="static/carrusel-2.jpg" class="d-block w-100" alt="..." width="50xp" height="300xp">
            <div class="carousel-caption d-none d-md-block">
              <h1> <a href="{% url 'question' pregconf.id %}">{{pregconf.titulo}}</a></h1>
              <h4>{{pregconf.descripcion}}</h4>
              <h4>Usuario: <em>{{pregconf.usuario.username}}</em></h4>
            </div>
          </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    {% else %}
    <p><b>Lo sentimos no hay preguntas todavia</b></p>
      <!-- insertar aqui algo para la url de la pagina home
          que felman esta haciendo
          <button ></button>
      -->
    {% endif %}
   


  <a name="principio"></a>
  <br><br><br>
  <div class="container px-5">
    <div class="row align-items-center">
      <div class="col">
        <div class="card" style="width: 18rem; height: 22rem;">
          <img src="static/sobreNosotros.jpg" class="card-img-top" alt="..." width="18xp" height="150xp">
          <div class="card-body">
            <h5 class="card-title">'¿Que es /name/?</h5>
            <p class="card-text">Conoce mas sobre la pagina.</p>
            <a href="#sobreNosotros" class="btn btn-danger">Ir</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem; height: 22rem;">
          <img src="static/reglas.jpg" class="card-img-top" alt="..." width="18xp" height="150xp">
          <div class="card-body">
            <h5 class="card-title">Reglas</h5>
            <p class="card-text">Enterate de las normas que contiene la plataforma.</p>
            <a href="#reglas" class="btn btn-danger">Ir</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem; height: 22rem;">
          <img src="static/manual.jpg" class="card-img-top" alt="..." width="18xp" height="150xp">
          <div class="card-body">
            <h5 class="card-title">Aprende a usarlo</h5>
            <p class="card-text">Te ensaños a usar nuestra plataforma de una manera facil y sencilla.</p>
            <a href="#manual" class="btn btn-danger">Ir</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a name="sobreNosotros"></a>
  <br>
  <div class="container marketing">
    <hr class="featurette-divider">

    <div class="row featurette px-5">
      <div class="col-md-7">
        <h2 class="featurette-heading">¿Que es /name/? <span class="text-muted">Enterate mas.</span></h2>
        <p class="lead">/name/ es un sistema de tutoriales...</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>


    <a name="reglas"></a><br>
    <hr class="featurette-divider"><br>
    <div class="row featurette px-5">
      <div class="col-md-7">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg>
      </div>
      <div class="col-md-5">
        <h2 class="featurette-heading">Normas a seguir. <span class="text-muted">Informate para no ser baneado.</span>
        </h2>
        <p class="lead">/name/ presenta unas cuantas normas...</p>
      </div>
    </div>
    <a name="manual"></a><br>
    <hr class="featurette-divider"><br>
    <div class="row featurette px-5">
      <div class="col-md-7">
        <h2 class="featurette-heading">Manual del sistema. <span class="text-muted">Aprende a como usarlo
            correctamente.</span></h2>
        <p class="lead">/name/ es secncillo de usar...</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
        </svg>
      </div>
    </div>
    <br>
  </div>


  <!-- Aca que vaya encajado la lista de preguntas reseintes, un cuadrito rectangular -->

  <br><br>
  <div class="fixed-bottom bg-danger">
    <br>
    <footer class="container">
      <p class="float-end"><a style="color:#fcfcfc;" href="#">Volver arriba</a></p>
      <p style="color:#fcfcfc;" >&copy; 2021 Company, Inc.</p>
    </footer>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"></script>
</body>

</html>